<h3>This is an HTML representation of the JSON that the API returns</h3>
<h4>To get the actual JSON, set the type to 'text/json', navigate to <a href=<%= request.url %>.json><%= request.url %>.json</a>, or `curl <%= request.url %>`</h4>
<hr/>
<pre id="payload"></pre>
<script>
  data = <%= @payload.to_json.html_safe %>;
  document.getElementById("payload").innerHTML = JSON.stringify(data, undefined, 2);
</script>
