<!DOCTYPE html>
<html>
<head>
  <title>Statsmaker</title>
  <%= csrf_meta_tags %>
</head>
<body>

<h5>Working with a dataset of <%= Visit.count %> records</h5>

<%= yield %>

<!-- Made by Nikhil Mungel in October 2013 (contact: hyfather@gmail.com) -->
</body>
</html>
